.sidebar_bg {
    width: 70px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #F0F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_row {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_logo_box {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AFBBF7;
    border-radius: 10px;
}

.sidebar_logo {
    width: 60%;
}

.sidebar_option_list {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.sidebar_option {
    color: #585858;
    font-size: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
        font-size: 22px;
        color: white;
        background-color: #5B96F7;
        border-radius: 5px;
    }

    &:focus {
        color: white;
        font-size: 22px;
        background-color: #5B96F7;
        border-radius: 5px;
    }
}

.sidebar_profile_img_box {
    width: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #AFBBF7;
    border-radius: 50%;
}